.social-likes {
	margin-top: 2px;
}

.social-likes > div {
	border-radius: 3px;
	margin: 3px 0;
}

.social-likes, .social-likes__widget {
	display: inline-block;
	padding: 0;
	vertical-align: middle !important;
	word-spacing: 0 !important;
	text-indent: 0 !important;
	list-style: none !important
}

.social-likes {
	opacity: 0
}

.social-likes_visible {
	opacity: 1;
	transition: opacity .1s ease-in
}

.social-likes > * {
	display: inline-block;
	visibility: hidden
}

.social-likes_vertical > * {
	display: block
}

.social-likes_visible > * {
	visibility: inherit
}

.social-likes__widget {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	margin: 0;
}

.social-likes__widget:before, .social-likes__widget:after {
	display: none !important
}

.social-likes_vertical .social-likes__widget {
	display: block;
	float: left;
	clear: left
}

.social-likes__button, .social-likes__icon, .social-likes__counter {
	text-decoration: none;
	text-rendering: optimizeLegibility
}

.social-likes__button, .social-likes__counter {
	display: inline-block;
	margin: 0;
	outline: 0
}

.social-likes__button {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.social-likes__button:before {
	content: "";
	display: inline-block
}

.social-likes__icon {
	position: absolute;
	color: #fff;
}

.social-likes__counter {
	display: none;
	position: relative
}

.social-likes_ready .social-likes__counter, .social-likes__counter_single {
	display: inline-block
}

.social-likes_ready .social-likes__counter_empty {
	display: none
}

.social-likes_vertical .social-likes__widget {
	display: block
}

.social-likes_notext .social-likes__button {
	padding-left: 0
}

.social-likes_single-w {
	position: relative;
	display: inline-block
}

.social-likes_single {
	position: absolute;
	text-align: left;
	z-index: 99999;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .11s, opacity .1s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.social-likes_single.social-likes_opened {
	visibility: visible;
	opacity: 1;
	transition: opacity .15s ease-out
}

.social-likes__button_single {
	position: relative
}

.social-likes__icon_facebook:before,
.social-likes__icon_github:before,
.social-likes__icon_mailru:before,
.social-likes__icon_odnoklassniki:before,
.social-likes__icon_pinterest:before,
.social-likes__icon_plusone:before,
.social-likes__icon_single:before,
.social-likes__icon_twitter:before,
.social-likes__icon_vkontakte:before {
	background: url(../images/social-likes.png) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
	content: "";
}

.social-likes__icon_facebook:before {
	background: url(../images/social-likes.png) 0 0 no-repeat;
}

.social-likes__icon_vkontakte:before {
	background: url(../images/social-likes.png) -18px 0 no-repeat;
}

.social-likes__icon_odnoklassniki:before {
	background: url(../images/social-likes.png) -36px 0 no-repeat;
}

.social-likes__icon_twitter:before {
	background: url(../images/social-likes.png) -54px 0 no-repeat;
}

.social-likes__icon_mailru:before {
	background: url(../images/social-likes.png) -72px 0 no-repeat;
}

.social-likes__icon_plusone:before {
	background: url(../images/social-likes.png) -90px 0 no-repeat;
}

.social-likes__icon_github:before {
	background: none;
}

.social-likes__icon_single:before {
	background: none;
}

.social-likes__icon_pinterest:before {
	background: none;
}

.social-likes {
	margin: -.5em;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.social-likes, .social-likes__widget_single {
	font-size: 11px
}

.social-likes__widget {
	margin: .5em;
	border: 0;
	text-align: left;
	cursor: pointer
}

.social-likes__button, .social-likes__counter {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	vertical-align: baseline;
	color: #fff
}

.social-likes__button {
	padding: 2px 10px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.social-likes__icon {
	top: 0;
	left: .21em;
	font-family: "social-likes";
	font-weight: 400;
	font-style: normal;
	text-transform: none;
	font-size: 1.15em;
	vertical-align: baseline
}

.social-likes__counter {
	padding: 0 2px;
	font-weight: 400;
	font-size: 11px;
}

.social-likes_vertical .social-likes__widget {
	min-width: 13em
}

.social-likes_vertical .social-likes__counter {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: .3em
}

.social-likes_light .social-likes__widget {
	min-width: 0;
	background: 0 0
}

.social-likes_light .social-likes__button, .social-likes_single-light + .social-likes__button {
	min-width: 0;
	padding-left: 1.35em;
	font-weight: 400;
	text-decoration: underline;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto
}

.social-likes_light .social-likes__icon {
	margin-top: -.1em;
	margin-left: -.25em
}

.social-likes_light .social-likes__counter, .social-likes_single-light + .social-likes__button + .social-likes__counter {
	position: static;
	margin-top: 0;
	color: #999
}

.social-likes_notext .social-likes__button {
	width: 1.85em
}

.social-likes_notext .social-likes__icon {
	margin-left: .1em
}

.social-likes_notext.social-likes_light, .social-likes_notext.social-likes_light .social-likes__widget, .social-likes_notext.social-likes_light .social-likes__icon {
	margin: 0;
	left: 0
}

.social-likes_notext.social-likes_light .social-likes__button {
	width: 1.4em;
	padding-left: 0
}

.social-likes_single {
	margin-top: -1.2em;
	padding: .5em;
	background: #fff;
	border: 1px solid #ddd
}

.social-likes__widget_single {
	height: 1.7em;
	margin: 0;
	padding: .1em 0;
	line-height: 1.5;
	background: #007aff
}

.social-likes_single-light + .social-likes__widget_single {
	color: #007aff
}

.social-likes__icon_single {
	left: .4em;
	font-size: 1.1em
}

.social-likes__widget_facebook {
	background: #39579A;
}

.social-likes_light .social-likes__button_facebook {
	color: #39579A;
}

.social-likes__icon_facebook {
	left: 1px;
	top: 1px;
	font-size: 1.1em
}

.social-likes_notext .social-likes__icon_facebook {
	margin-left: .15em
}

.social-likes__widget_twitter {
	background: #00ABF0;
}

.social-likes_light .social-likes__button_twitter {
	color: #00ABF0;
}

.social-likes__icon_twitter {
	top:1px;
	left: 1px
}

.social-likes_light .social-likes__icon_twitter {
	left: .1em
}

.social-likes__widget_plusone {
	background: #BE3308;
}

.social-likes_light .social-likes__button_plusone {
	color: #BE3308;
}

.social-likes_notext .social-likes__icon_plusone {
	margin-left: 0
}

.social-likes__icon_plusone {
	top:1px;
	left: 1px
}

.social-likes_light .social-likes__icon_plusone {
	margin-top: 0
}

.social-likes__widget_mailru {
	background: #2F69A1;
}

.social-likes_light .social-likes__button_mailru {
	color: #2F69A1;
}

.social-likes__icon_mailru {
	top:1px;
	left: 1px
}

.social-likes_light .social-likes__icon_mailru {
	left: .1em
}

.social-likes_notext .social-likes__icon_mailru {
	margin-left: 0.075em
}

.social-likes__widget_vkontakte {
	background: #41658B;
}

.social-likes_light .social-likes__button_vkontakte {
	color: #41658B;
}

.social-likes__icon_vkontakte {
	top: 1px;
	left: 1px;
}

.social-likes__widget_odnoklassniki {
	background: #F4960F;
}

.social-likes_light .social-likes__button_odnoklassniki {
	color: #F4960F;
}

.social-likes__icon_odnoklassniki {
	top:1px;
	left: 1px
}

.social-likes_light .social-likes__icon_odnoklassniki {
	left: .25em
}

.social-likes_notext.social-likes_light .social-likes__button_odnoklassniki {
	width: 1em
}

.social-likes__widget_pinterest {
	background: #cb132d
}

.social-likes_light .social-likes__button_pinterest {
	color: #cb132d
}

.social-likes_light .social-likes__icon_pinterest {
	left: .1em
}
