/* 
 * 	Core Owl Carousel CSS File
 *	v1.15
 */

/* clearfix */
.owl-carousel:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	//position: relative;
	overflow: hidden;
	width: 100%;
}
.owl-carousel .owl-wrapper{
	position: relative;
	display: inline-block;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-pagination {
	display: none;
}
.owl-theme .owl-controlls {
position: absolute;
margin-top: -273px;
margin-left: 900px;
z-index: 5;
}
.owl-theme .owl-controlls .owl-buttons div {
display: inline-block;
}

.owl-prev  {
	background: url(../images/left.png) no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.owl-next {
	background: url(../images/right.png) no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer;
	float: right;
    //margin-top: 5px;
}

.owl-prev.disabled {
	background: url(../images/left-d.png) no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.owl-next.disabled {
	background: url(../images/right-d.png) no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.owl-theme .owl-controlls .owl-buttons div {

}
.owl-controlls .owl-page,
.owl-controlls .owl-buttons{

}
.owl-controlls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}